html {
  background-color: #f3f3f3;
}
body {
  font-family: sans-serif;
	font-weight: 300;
  padding: 0;
  margin: 0;
  color: #1b1b1b;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body, input {
  font-size: 16px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.App {
  text-align: center;
}

.main-intro {
  text-align: left;
  margin-bottom: 20px;
}

.back-button {
  text-align: left;
}
.back-button::before {
  content: "< ";
  color: #3C7696;
  font-weight: bold;
  font-size: 1.1em;
}
.back-button a {
  color: #312F2D;
}

.main {
  display: block;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  max-width: 1010px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
.main p {
  line-height: 1.4em;
}

.sleeves {
  clear: both;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}
