.App-logo {
  /*animation: App-logo-spin infinite 1s linear;
  animation-direction: alternate;*/
  height: 80px;
}

.App-header {
  background-color: #312F2D;
  padding: 15px;
  color: white;
}
.App-header h2 {
  margin: 0;
}

/*@keyframes App-logo-spin {
  from { transform: rotate(-1deg); }
  to { transform: rotate(1deg); }
}*/
