.session {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1031;
  padding: 15px;
  color: white;
  white-space: nowrap;
  vertical-align: bottom;
  text-align: left;
}
.session a {
  color: white;
}
.session div {
  position: relative;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-right: 5px;
}

.logout {
  margin-top: 20px;
  text-align: right;
}
